h1 {
  font-family: sans-serif;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
.container {
  /* background-color: rgb(0, 140, 255); */
}
.O {
  height: 482px;
  max-width: none;
}
.O1 {
  height: 482px;
  width: 241px;
  right: 0;
  overflow: hidden;
}
.text {
scale: 80%;
}
.textik {
  
}
